* {
    margin:0;
    padding: 0;
    background-color: #FAEFE8;
    font-family: 'IM Fell Great Primer', serif;
}

body {
    display: flex;
    gap: 5rem;
    
}

.sidebar {
    width: fit-content;
    height: 100vh;
    background-color: #E8A598;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}


.logo{
    background-color: transparent;
    padding: 20px;
}

.logo > img {
    background-color: transparent;
}


.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E8A598;
}


.nav-links {
    text-decoration: none;
    color: #F6FFF8;
    background-color: #E8A598;
    font-size: 3vh;
    padding: 1vh;
}

.nav-links:hover{
    background-color: #F8EDEB;
    color: #E8A598;
    width: 100%;
}

.line {
    border: 1px solid #FAEFE8;
    width: 100%;
}


.socials {
    width: 100%;
    background-color: transparent;
    transform: translate(0%, -200%);
    display: flex;
    justify-content: space-evenly;

}

.socials > a {
    background-color: transparent;
}

.social-icons {
    width: 6rem;
    background-color: transparent;
}

.social-icons:hover{
    opacity: 0.5;
}

main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 70%;
}

.title>h1 {
    font-size: 11vh;
    color: #E8A598;
    font-weight: lighter;
}

p {
    display: block;
    color: #613026;
    font-size: 3vh;
}

.sidebar > p {
    width: 55%;
    background-color: transparent;
    text-align: center;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.desc {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    margin: auto;
}

.first-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.first-list > p{
    color: #EF6351;
}
