@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer&display=swap');

* {
    margin:0;
    padding: 0;
    background-color: #FAEFE8;
    font-family: 'IM Fell Great Primer', serif;
}

body {
    display: flex;
    gap: 5rem;
    
}

.sidebar {
    width: fit-content;
    height: 100vh;
    background-color: #E8A598;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}


.logo{
    background-color: transparent;
    padding: 20px;
}

.logo > img {
    background-color: transparent;
}


.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E8A598;
}


.nav-links {
    text-decoration: none;
    color: #F6FFF8;
    background-color: #E8A598;
    font-size: 3vh;
    padding: 1vh;
}

.nav-links:hover{
    background-color: #F8EDEB;
    color: #E8A598;
    width: 100%;
}

.line {
    border: 1px solid #FAEFE8;
    width: 100%;
}


.socials {
    width: 100%;
    background-color: transparent;
    transform: translate(0%, -200%);
    display: flex;
    justify-content: space-evenly;

}

.socials > a {
    background-color: transparent;
}

.social-icons {
    width: 6rem;
    background-color: transparent;
}

.social-icons:hover{
    opacity: 0.5;
}


main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 70%;
}

.id{
    margin-top: 10rem;
}

.name > h1 {
    font-size: 11vh;
    color: #EF6351;
    font-weight: lighter;
}

.occupation {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.occupation > h3 {
    color: #E8A598;
    font-size: 4vh;
    font-weight: lighter;
}

.occupation > h4 {
    color:#E8A598;
    font-size: 3vh;
    font-weight: lighter;
}